.game-screen {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stage {
    width: 100vw;
    height: 100px;
    background-color: rgb(27, 25, 25);
    position: absolute;
    bottom: 0;
}

.player {
    height: 80px;
    width: 30px;
    background-color: red;
    position: absolute;
    bottom: 100px;
    right: 50%;
    user-select: none;
}


.transitionAnimation {
    width: 900vw;
    height: 400vh;
    background-color: rgb(36, 32, 32);
    // background-color: rgb(27, 25, 25);

    position: fixed;
    z-index: 10002;
    transform: translateY(-100%);

    animation: transitionAnimation 2.3s forwards;
}

@keyframes transitionAnimation {
    0% {
        transform: translateY(-400vh);
        transform: rotate(-45deg);
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(-400vh);
        transform: translateX(500vw);
    }
}


.present {
    background-color: blue;
    width: 100px;
    aspect-ratio: 1/1;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    transform: translateY(-600px);
}

@keyframes present-fall {
    0% {
        transform: translateY(-600px);
    }

    100% {
        transform: translateY(100vh);
    }
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    color: black;
    margin-left: 30px;
    user-select: none;
    -webkit-user-drag: none;
}

.info-and-restart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restart-button {
    width: 100px;
    margin-bottom: 300px;
    z-index: 999999;
    cursor: pointer;
}

.restart-button:hover {
    scale: 0.9;
}

.restart-button:active {
    scale: 0.9;
}

.win-message {
    color: black;
    max-width: 700px;
    text-align: center;
    padding: 0 20px;
    user-select: none;
}








// .transitionAnimation{
//     width: 900vw;
//     height: 400vh;
//     background-color: rgb(36, 32, 32);
//     position: fixed;
//     z-index: 10002;

//     animation: transitionAnimation 3.4s forwards;
// }

// @keyframes transitionAnimation{
//     0%{
//         transform: translateY(0);
//         transform: rotate(-45deg);

//     }
//     100%{
//         transform: translateY(-400vh);
//         transform: translateX(500vw);
//     }
// }

// @media screen and (max-width: 1200px) and (min-width: 413px){

// }