.game-screen{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10000;
}

.stage{
    width: 100vw;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.player{
    height: 80px;
    width: 30px;
    background-color: red;
    position: absolute;
    bottom: 100px;
    right: 50%;
}


.transitionAnimation{
    width: 900vw;
    height: 400vh;
    background-color: rgb(36, 32, 32);
    position: fixed;
    z-index: 10002;

    animation: transitionAnimation 3.4s forwards;
}

@keyframes transitionAnimation{
    0%{
        transform: translateY(0);
        transform: rotate(-45deg);
        
    }
    100%{
        transform: translateY(-400vh);
        transform: translateX(500vw);
    }
}